.main__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.restaurant__menu {
  background: $fifth-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 13px 40px 13px;
  border-radius: 40px 40px 0px 0px;
  width: 100%;
  margin-top: 241px;

  @media (min-width: 768px) {
    padding: 32px 80px 40px 80px;
  }
  @media (min-width: 1025px) {
    padding: 51px 210px 40px 210px;
    width: 80%;
    left: 10%;
  }

  &-title {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    &-tle {
      font-family: "Shrikhand";
      font-style: italic;
      font-weight: bold;
      font-size: 35px;
    }
    @media (min-width: 768px) {
      justify-content: center;
    }
  }

  

  &-icon {
    margin-left: 35px;
    margin-top: 13px;
    cursor: pointer;
    position: relative;

  &-empty {
    font-weight: 100;
    font-size: 20px;
    position: absolute;
  }
  &-full {
    position:absolute;
    font-size: 20px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient($main-color, $second-color);
    opacity: 0;
    transition: opacity 400ms ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}
}

.menu__card-img {
  height: 275px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}

.menu__dish-anim-1 {
  animation: dishslide 1s forwards;
}
@keyframes dishslide {
  0% {
    transform: translateY(+100%);
    opacity: 0;
  }

  50% {
    transform: translateY(+100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.menu__dish-anim-2 {
  animation: dishslide-2 1.2s forwards;
}
@keyframes dishslide-2 {
  0% {
    transform: translateY(+100%);
    opacity: 0;
  }

  50% {
    transform: translateY(+100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.menu__dish-anim-3 {
  animation: dishslide-3 1.4s forwards;
}
@keyframes dishslide-3 {
  0% {
    transform: translateY(+100%);
    opacity: 0;
  }

  50% {
    transform: translateY(+100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.menu__dish-title {
  font-size: 16px;
  margin-bottom: 5px;
}
.menu__dish-border {
  width: 40px;
  border-bottom: 3px solid #99e2d0;
  margin-bottom: 12px;
}

.menu__section-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 40px;
}

.menu__card {
  background: $fourth-color;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  height: 69px;
  width: 100%;
 display: flex;
 justify-content: space-between;
width: 100%;

  &-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    padding-right: 15px;
  }

  &-txt {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 12px 0px 12px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    &-h3 {
      font-weight: bold;
      font-size: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &-pr {
      font-weight: 100;
      font-size: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &-price{
    margin-top: 25px;
    font-weight: bold;
  }
 
  &-anim {
    border-radius: 0px 15px 15px 0px;
    background: $third-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69px;
    opacity: 0;
    width: 1%;
    transition: all 800ms ;
  }
  
  
    &:hover &-anim{
      width: 70px;
      opacity: 1;
     }
  
  
   
  &-icon {
    font-size: 20px;
    color: $fourth-color;
  }

}
