.restaurant__menu {
  background: $fifth-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 13px 40px 13px;
  border-radius: 40px;
  width: 100%;
  position: absolute;
  top: 300px;

  @media (min-width:768px){
    padding:32px 80px 40px 80px;
    
  }
  @media (min-width:1025px){
    padding: 51px 210px 40px 210px;
    width: 80%;
    left: 10%;
  }

  &-title {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    &-tle {
      font-family: "Shrikhand";
      font-style: italic;
      font-weight: bold;
      font-size: 35px;
    }
    @media (min-width:768px){
     justify-content: center;
    }
  }

  &-icon {
    margin-left: 35px;
    margin-top: 13px;
    cursor: pointer;
    font-weight: 100;
    font-size: 20px;
    -webkit-text-stroke-width: 0.01px;
    transition: 400ms ;

    &:active {
      font-weight: 600;
      content: "";
      background-image: linear-gradient($main-color, $second-color);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    @media (min-width: 1025px) {
      &:hover {
        font-weight: 600;
        content: "";
        background-image: linear-gradient($main-color, $second-color);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
  }
}

.menu__card-img {
  height: 275px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.menu__dish-anim-1{
  animation: dishslide 1s forwards;
}
@keyframes dishslide {
  0% {
    transform: translateY(+100%);
    opacity: 0;
  }

  50% {
    transform: translateY(+100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
  }

  .menu__dish-anim-2{
    animation: dishslide-2 1.2s forwards;
  }
  @keyframes dishslide-2 {
    0% {
      transform: translateY(+100%);
      opacity: 0;
    }
  
    50% {
      transform: translateY(+100%);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
    }

    .menu__dish-anim-3{
      animation: dishslide-3 1.4s forwards;
    }
    @keyframes dishslide-3 {
      0% {
        transform: translateY(+100%);
        opacity: 0;
      }
    
      50% {
        transform: translateY(+100%);
        opacity: 0;
      }
    
      100% {
        transform: translateY(0%);
        opacity: 1;
      }
      }
    
.menu__dish-title {
  font-size: 16px;
  margin-bottom: 5px;
}
.menu__dish-border {
  width: 40px;
  border-bottom: 3px solid #99e2d0;
  margin-bottom: 12px;
}

.menu__section-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 40px;
}
.menu__card-link {
  width: 100%;
}

.menu__card {
  background: $fourth-color;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  height: 69px;
  width: 100%;
  padding: 12px 16px 12px 15px;
  position: relative;

  &-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  &-txt {
    display: flex;
    flex-direction: column;
    gap: 5px;
    &-h3{
        font-size: 18px;
    }
    &-pr{
        font-size: 15px;
    }
  }
 &-price{
    margin-top: 25px;
    animation: slidein-2 1.5s forwards;
 }

 @keyframes slidein-2 {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-250%);

  }
  }

 &-anim{
  position: absolute;
  /*z-index: -1;*/
  top: 0;
  right:-71px;
  border-radius: 0px 15px 15px 0px;
  background: $third-color ;
  display: flex;
  justify-content: center;
  align-items: center;
   height: 69px;
   width: 70px;
   overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  animation: slidein 1.5s forwards;
  opacity: 0;
  &:active{
    transition-timing-function: ease-in-out;
    animation: slidein 1.5s forwards;
  }
  
 /*transition: transform 1.5s ease-in-out;
  &:active{
    content: "";
    transform: translateX(-100%);
    opacity: 1;
    z-index:  2;
  }*/
 }

 @keyframes slidein {
  0% {
    transform: translateX(0%);
    opacity: 0;
  }

  50% {
    transform: translateX(0%);
    opacity: 0;
  }

  100% {
    transform: translateX(-100%);
    opacity: 1;
  }
  }

 &-icon{
  font-size: 20px;
  color: $fourth-color;
 }
 
}


