.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 59px 33px 66px 33px ;

  @media (min-width: 768px){
    padding: 30px 90px;
  }

  @media (min-width: 1025px){
    padding:30px 175px;
    
  }  

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 24px;

    @media (min-width: 768px){
      margin-top:0px;

    }
  }

  &__section-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    

    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0;
      row-gap: 50px;
    }
  }

  &__card-link {
    width: 100%;
    @media (min-width: 768px) {
      width: 44%; 
      display: flex;
    }
  }

  &__card {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    height: 251px;
    width: 100%; /*fonctionne ici*/
    position: relative;
    z-index: 1;
  }

  &__card-img {
    height: 70%;
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }
  &__card-new {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29px;
    width: 80px;
    border-radius: 2px;
    color: darken($color: $third-color, $amount: 40%);
    background-color: $third-color;
    position: absolute;
    z-index: 2;
    top: 15px;
    right: -30px;
    margin: 0px 50px;
  }
  &__card-content {
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 100%;
  }

  &__card-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 12px;
    padding-top: 12px;
    row-gap: 6px;
    width: 85%;
    font-size: 17px;
  }
  &__card-title {
    font-size: 18px;
    font-weight: bold;
  }

  &__card-rating-1 {
    /*PROBLEME DE POSITION*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    bottom: -500px;
    right: 68px;
  }
  &__card-rating-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    bottom: -905px;
    right: 68px;
  }

  &__card-rating-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    bottom: -1172px;
    right: 68px;
  }

  &__card-rating-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    bottom: -1443px;
    right: 68px;
  }

  &__icon {
    font-weight: 100;
    font-size: 20px;
    border: 1px;
  }

  &__icon-full {
    font-size: 20px;
    position: absolute;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
    color: linear-gradient($second-color, $main-color);/* pas de couleur*/ 
    transition: opacity 400ms;

    &:active {
       opacity :1;
      animation-fill-mode: forwards;/*ne fonctionne pas */
    }
      
  @media (min-width: 1025px) {
    &:hover {
      opacity: 1;
      -webkit-background-clip: text;/*ne fonctionne pas*/
    }
  }
  }
}
