.location {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 17px;
    background-color: #eaeaea;
    margin-bottom: 39px;
  }