body {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: #f6f6f6;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

.fa-solid .fa-light {
  color: #353535;
}

a {
  text-decoration: none;
  color: #000000;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

text {
  font-family: "Roboto", sans-serif;
}

.boutton-accueil {
  display: flex;
  justify-content: center;
  margin-bottom: 57px;
}
.boutton-accueil__explore {
  height: 50px;
  padding-left: 23px;
  padding-right: 23px;
  color: #ffffff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: 0px;
  cursor: pointer;
  transition: 400ms;
}
.boutton-accueil__explore:hover {
  opacity: 85%;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  background-color: #ffffff;
}
.header__logo {
  display: flex;
  align-items: center;
  height: 44px;
  width: 197px;
  font-size: 36px;
  font-style: italic;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 22px 0 22px 25px;
  gap: 16px;
  height: 186px;
}
@media (min-width: 1025px) {
  .footer {
    flex-direction: row-reverse;
    gap: 10px;
    padding-right: 70px;
    padding-top: 65px;
    height: 114px;
  }
}
.footer__section-link {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 1025px) {
  .footer__section-link {
    flex-direction: row;
    gap: 15px;
    margin-top: 5px;
  }
}
.footer__section-link-icon {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 1025px) {
  .footer__section-link-icon {
    flex-direction: row;
    margin-right: 30px;
    gap: 10px;
  }
}
.footer__icon {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer__icon-color {
  color: #ffffff;
}
.footer__link {
  font-size: 16px;
  color: #ffffff;
}
.footer__title {
  font-family: Shrikhand;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
  font-weight: bold;
}
@media (min-width: 1025px) {
  .footer__title {
    padding-left: 70px;
  }
}

.location {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  gap: 17px;
  background-color: #eaeaea;
  margin-bottom: 39px;
}
.location__text {
  font-size: 18px;
  text-align: center;
  margin-bottom: 27px;
}
.location__title {
  text-align: center;
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: bold;
}

.fonctionnement {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 59px 33px 66px 45px;
}
@media (min-width: 768px) {
  .fonctionnement {
    padding-left: 60px;
    padding-right: 55px;
  }
}
@media (min-width: 1025px) {
  .fonctionnement {
    padding: 50px 150px 50px 180px;
  }
}
.fonctionnement__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 26px;
}
.fonctionnement__filtre-number {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  color: #ffffff;
  position: absolute;
  top: 24px;
  left: -11px;
  z-index: 2;
}
.fonctionnement__section-filtre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
@media (min-width: 768px) {
  .fonctionnement__section-filtre {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1025px) {
  .fonctionnement__section-filtre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
}
.fonctionnement__filtre {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 72px;
  width: 100%;
  border: 0px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background-color: #f6f6f6;
  gap: 26px;
  padding-left: 40px;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .fonctionnement__filtre {
    gap: 15px;
    padding-left: 30px;
  }
}
@media (min-width: 1025px) {
  .fonctionnement__filtre {
    gap: 20px;
    padding-left: 30px;
  }
}
.fonctionnement__icone-couleur {
  color: #9356dc;
}

.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 59px 33px 66px 33px;
}
@media (min-width: 768px) {
  .restaurant {
    padding: 30px 90px;
  }
}
@media (min-width: 1025px) {
  .restaurant {
    padding: 30px 175px;
  }
}
.restaurant__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 24px;
}
@media (min-width: 768px) {
  .restaurant__title {
    margin-top: 0px;
  }
}
.restaurant__section-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (min-width: 768px) {
  .restaurant__section-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    row-gap: 50px;
  }
}
.restaurant__card-link {
  width: 100%;
}
.restaurant__card {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  height: 251px;
  width: 100%;
  position: relative;
}
.restaurant__card-img {
  height: 70%;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.restaurant__card-new {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 29px;
  width: 80px;
  border-radius: 2px;
  color: #278870;
  background-color: #99e2d0;
  position: absolute;
  top: 15px;
  right: -30px;
  margin: 0px 50px;
}
.restaurant__card-content {
  display: flex;
  flex-direction: row;
  height: 30%;
  width: 100%;
}
.restaurant__card-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 12px;
  padding-top: 12px;
  row-gap: 6px;
  width: 85%;
  font-size: 17px;
}
.restaurant__card-title {
  font-size: 18px;
  font-weight: bold;
}
.restaurant__heart {
  width: 100%;
  position: relative;
}
@media (min-width: 768px) {
  .restaurant__heart {
    width: 47%;
  }
}
.restaurant__heart-icon-empty {
  position: absolute;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  font-weight: 100;
  font-size: 20px;
}
.restaurant__heart-icon-full {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 20px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(#9356dc, #ff79da);
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}
.restaurant__heart-icon-full:hover {
  opacity: 1;
}

.animation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#ff79da, #9356dc);
  animation: fin-loader 0.45s linear both;
  animation-delay: 3000ms;
}
.animation .loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px 30px 30px;
  border-radius: 15px;
  background-color: white;
}
.animation .loader__animation {
  display: flex;
  margin-bottom: 10px;
}
.animation .loader__ball {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #9356dc;
  animation: cercle 1s infinite;
}
.animation .loader__ball-pink {
  background-color: #ff79da;
}
.animation .loader__ball-green {
  background-color: #99e2d0;
}
.animation .loader__ball:nth-child(2) {
  animation-delay: 0.1s;
}
.animation .loader__ball:nth-child(3) {
  animation-delay: 0.2s;
}
.animation .loader__ball:not(:last-child) {
  margin-right: 10px;
}
.animation .loader__chargement {
  font-size: 20px;
  font-family: "Shrikhand";
}

@keyframes cercle {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes fin-loader {
  0% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
  100% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
}
.main__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.restaurant__menu {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 13px 40px 13px;
  border-radius: 40px 40px 0px 0px;
  width: 100%;
  margin-top: 241px;
}
@media (min-width: 768px) {
  .restaurant__menu {
    padding: 32px 80px 40px 80px;
  }
}
@media (min-width: 1025px) {
  .restaurant__menu {
    padding: 51px 210px 40px 210px;
    width: 80%;
    left: 10%;
  }
}
.restaurant__menu-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.restaurant__menu-title-tle {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: bold;
  font-size: 35px;
}
@media (min-width: 768px) {
  .restaurant__menu-title {
    justify-content: center;
  }
}
.restaurant__menu-icon {
  margin-left: 35px;
  margin-top: 13px;
  cursor: pointer;
  position: relative;
}
.restaurant__menu-icon-empty {
  font-weight: 100;
  font-size: 20px;
  position: absolute;
}
.restaurant__menu-icon-full {
  position: absolute;
  font-size: 20px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(#9356dc, #ff79da);
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}
.restaurant__menu-icon-full:hover {
  opacity: 1;
}

.menu__card-img {
  height: 275px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}

.menu__dish-anim-1 {
  animation: dishslide 1s forwards;
}

@keyframes dishslide {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.menu__dish-anim-2 {
  animation: dishslide-2 1.2s forwards;
}

@keyframes dishslide-2 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.menu__dish-anim-3 {
  animation: dishslide-3 1.4s forwards;
}

@keyframes dishslide-3 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.menu__dish-title {
  font-size: 16px;
  margin-bottom: 5px;
}

.menu__dish-border {
  width: 40px;
  border-bottom: 3px solid #99e2d0;
  margin-bottom: 12px;
}

.menu__section-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 40px;
}

.menu__card {
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  height: 69px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu__card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-right: 15px;
}
.menu__card-txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 12px 0px 12px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__card-txt-h3 {
  font-weight: bold;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__card-txt-pr {
  font-weight: 100;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__card-price {
  margin-top: 25px;
  font-weight: bold;
}
.menu__card-anim {
  border-radius: 0px 15px 15px 0px;
  background: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 69px;
  opacity: 0;
  width: 1%;
  transition: all 800ms;
}
.menu__card:active .menu__card-anim {
  width: 70px;
  opacity: 1;
}
@media (min-width: 1025px) {
  .menu__card:hover .menu__card-anim {
    width: 70px;
    opacity: 1;
  }
}
.menu__card-icon {
  font-size: 20px;
  color: #ffffff;
}

.boutton-commande {
  display: flex;
  justify-content: center;
  margin-bottom: 57px;
}
.boutton-commande__explore {
  height: 50px;
  width: 45%;
  color: #ffffff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: 0px;
  cursor: pointer;
  transition: 400ms;
}
.boutton-commande__explore:hover {
  opacity: 85%;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}
@media (min-width: 768px) {
  .boutton-commande__explore {
    width: 218px;
  }
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  background-color: #ffffff;
  position: relative;
}
.header__menu-icon {
  position: absolute;
  font-size: 25px;
  left: 23px;
  bottom: 19px;
}
.header__menu-logo {
  display: flex;
  align-items: center;
  height: 44px;
  width: 197px;
  font-size: 36px;
  font-style: italic;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 22px 0 22px 25px;
  gap: 16px;
  height: 186px;
}
@media (min-width: 1025px) {
  .footer {
    flex-direction: row-reverse;
    gap: 10px;
    padding-right: 70px;
    padding-top: 65px;
    height: 114px;
  }
}
.footer__section-link {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 1025px) {
  .footer__section-link {
    flex-direction: row;
    gap: 15px;
    margin-top: 5px;
  }
}
.footer__section-link-icon {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 1025px) {
  .footer__section-link-icon {
    flex-direction: row;
    margin-right: 30px;
    gap: 10px;
  }
}
.footer__icon {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer__icon-color {
  color: #ffffff;
}
.footer__link {
  font-size: 16px;
  color: #ffffff;
}
.footer__title {
  font-family: Shrikhand;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
  font-weight: bold;
}
@media (min-width: 1025px) {
  .footer__title {
    padding-left: 70px;
  }
}

.body__menu {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
