.fonctionnement {
  background-color: $fourth-color;
  display: flex;
  flex-direction: column;
  padding: 59px 33px 66px 45px;

  @media (min-width: 768px){
    padding-left: 60px;
    padding-right: 55px;
  }

  @media (min-width: 1025px) {
    padding: 50px 150px 50px 180px;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 26px;
  }

  &__filtre-number {
    height: 24px;
    width: 24px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-color;
    color: $fourth-color;
    position: absolute;
    top: 24px;
    left: -11px;
    z-index: 2;
  }

  &__section-filtre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;

    @media (min-width: 768px){
      display: flex;
      flex-direction: row;
    }

    @media (min-width: 1025px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 40px;
    }
  }

  &__filtre {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 72px;
    width: 100%;
    border: 0px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    background-color: $fifth-color;
    gap: 26px;
    padding-left: 40px;
    position: relative;
    z-index: 1;

    @media (min-width: 768px){
      gap: 15px;
      padding-left:30px ;
    }
    @media (min-width: 1025px) {
      gap: 20px;
      padding-left: 30px;
    }
  }

  &__icone-couleur {
    color: $main-color;
  }
}
