.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 59px 33px 66px 33px;

  @media (min-width: 768px) {
    padding: 30px 90px;
  }

  @media (min-width: 1025px) {
    padding: 30px 175px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 24px;

    @media (min-width: 768px) {
      margin-top: 0px;
    }
  }

  &__section-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0;
      row-gap: 50px;
    }
  }

  &__card-link {
    width: 100%;
  }

  &__card {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    height: 251px;
    width: 100%;
    position: relative;
  }

  &__card-img {
    height: 70%;
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }
  &__card-new {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29px;
    width: 80px;
    border-radius: 2px;
    color: darken($color: $third-color, $amount: 40%);
    background-color: $third-color;
    position: absolute;
    top: 15px;
    right: -30px;
    margin: 0px 50px;
  }
  &__card-content {
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 100%;
  }

  &__card-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 12px;
    padding-top: 12px;
    row-gap: 6px;
    width: 85%;
    font-size: 17px;
  }
  &__card-title {
    font-size: 18px;
    font-weight: bold;
  }

  &__heart {
    width: 100%;
    position: relative;
    @media (min-width: 768px) {
      width: 47%;
    }

    &-icon-empty {
      position: absolute;
      bottom: 30px;
      right: 30px;
      cursor: pointer;
      font-weight: 100;
      font-size: 20px;
     
    }
    &-icon-full {
      position: absolute;
      bottom: 30px;
      right: 30px;
      font-size: 20px;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      background-image: linear-gradient($main-color, $second-color);
      opacity: 0;
      transition: opacity 400ms ease-in-out;

      &:hover{
        opacity: 1;
      }
    }
  }
}
